{% extends 'base.html' %}
{% load staticfiles %} 
{% block content %}
<!-- about us start -->
    <div style="text-align: center;margin-top: -100px; margin-bottom: 130px;">
        <h2>Documentacion etc</h2>
        
    </div>
     <div>
     <div class="templatemo_ourteam">
        <div class="container templatemo_hexteam">
              <div class="row">
                  <div class="col-md-3 col-sm-4">
                           <div class="hexagon hexagonteam gallery-item">
                               <div class="hexagon-in1">
                                <div class="hexagon-in2" style="background-image: url('{% static 'images/team/1.jpg' %}');">
                                </div>
                            </div>
                          </div>
               </div>
                    <div class="col-md-3 col-sm-8 templatemo_servicetxt" >
                      <h2>Marco Riedel</h2>
                        <p>Polygon is free HTML5 template by <span class="blue">template</span><span class="green">mo</span> that can be used for any purpose. You can remove any credit link. Please tell your friends about our website. Credit goes to <a rel="nofollow" href="http://unsplash.com">Unsplash</a> for images used in this template. Feel free to visit <a href="https://fb.com/templatemo" target="_parent">templatemo page</a> on Facebook.</p>
                    </div>
                    <div class="templatemo_servicecol2">
                    <div class="col-md-3 col-sm-4">
                           <div class="hexagon hexagonteam gallery-item">
                               <div class="hexagon-in1">
                                <div class="hexagon-in2" style="background-image: url('{% static 'images/team/2.jpg' %}');">
                                </div>
                            </div>
                          </div>
               </div>
                    <div class="col-md-3 col-sm-8 templatemo_servicetxt">
                      <h2>Emilio Herrada</h2>
                        <p>Please take a look at <a rel="nofollow" href="https://www.toocss.com">Too CSS</a> to see the collection of free website templates for you. This is free CSS website template fully compatible with tablets and mobile phones. Mauris eget neque at sapien faucibus egestas vel vitae mi. Maecenas commodo augue risus, sed placerat neque feugiat vel.</p>
                    </div>
                    </div>
               </div>
            </div>
            <div class="clear"></div>
            <div class="container templatemo_hexteam s_top">
              <div class="row">
                  <div class="col-md-3 col-sm-4">
                           <div class="hexagon hexagonteam gallery-item">
                               <div class="hexagon-in1">
                                <div class="hexagon-in2" style="background-image: url('{% static 'images/team/3.jpg' %}');">
                                </div>
                            </div>
                          </div>
               </div>
                    <div class="col-md-3 col-sm-8 templatemo_servicetxt" >
                      <h2>Franco Ferreyra</h2>
                        <p>Sed laoreet, enim quis euismod egestas, risus tortor tincidunt lacus, in iaculis mauris lectus at augue. Donec luctus nibh nec ullamcorper feugiat. Phasellus felis urna, lobortis vitae lacus sit amet, tristique consectetur nibh.</p>
                    </div>
                    <div class="templatemo_servicecol2">
                    <div class="col-md-3 col-sm-4">
                           <div class="hexagon hexagonteam gallery-item">
                               <div class="hexagon-in1">
                                <div class="hexagon-in2" style="background-image: url('{% static 'images/team/4.jpg' %}');"></div>
                               </div>
                          </div>
                    </div>
                    <div class="col-md-3 col-sm-8 templatemo_servicetxt">
                      <h2>Martin Valverde</h2>
                        <p>Phasellus sodales magna orci, id scelerisque lectus faucibus a. Vivamus varius tincidunt sem. Etiam ultricies orci sit amet sem egestas varius vitae at lacus. Nunc blandit elit in mauris semper, id iaculis felis condimentum.</p>
                    </div>
                    </div>



                    <div class="templatemo_servicecol2" style="margin-top: 300px;">
                    <div class="col-md-3 col-sm-4">
                           <div class="hexagon hexagonteam gallery-item">
                               <div class="hexagon-in1">
                                <div class="hexagon-in2" style="background-image: url('{% static 'images/team/4.jpg' %}');"></div>
                               </div>
                          </div>
                    </div>
                    <div class="col-md-3 col-sm-8 templatemo_servicetxt">
                      <h2>Matias Mackiewicz</h2>
                        <p>Phasellus sodales magna orci, id scelerisque lectus faucibus a. Vivamus varius tincidunt sem. Etiam ultricies orci sit amet sem egestas varius vitae at lacus. Nunc blandit elit in mauris semper, id iaculis felis condimentum.</p>
                    </div>
                    </div>



               </div>
            </div>
            
     </div>
     </div>
    <!--about us end-->
{% endblock %}