{% extends 'base.html' %}
{% load staticfiles %} 
{% block content %}
<!-- about us start -->
    <div style="text-align: center;margin-top: -100px; margin-bottom: 90px;">
        <h2>Sobre Nosotros</h2>
        
    </div>
     <div>
     <div class="templatemo_ourteam">
        <div class="container templatemo_hexteam">
              <div class="row">
                  <div class="col-md-3 col-sm-4">
                           <div class="hexagon hexagonteam gallery-item">
                               <div class="hexagon-in1">
                                <div class="hexagon-in2" style="background-image: url('{% static 'images/utn.jpg' %}');">
                                </div>
                            </div>
                          </div>
               </div>
                    <div class="col-md-3 col-sm-8 templatemo_servicetxt" style="margin-top: 50px;">
                      <h2>Transportes UTN</h2>
                    </div>
                  <div style="margin-top: 50px; font-size: 12px;" >
                   <p><a>Transportes UTN</a> es una empresa de logística radicada en La Plata, provincia de Buenos Aires, y tiene como principal cliente la empresa “Textil UTN”. Esta última tiene sucursales en distintas localidades de Buenos Aires(La Plata, Chascomús, Samborombón, Castelli, Tandil, Balcarce, Maipú y Mar del Plata), pero su fábrica se encuentra en Capital Federal.
                   </p><br><br><br><br><br><br>
                   <p>El primero de cada mes, se distribuyen desde la fábrica de “Textil UTN” a TODAS  las sucursales los insumos necesarios para que estas operen con normalidad y eventualmente se realizan viajes puntuales PUNTO a PUNTO para realizar un entrega de insumos específicos a alguna de las sucursales que demande los mismos.
Con el objetivo de generar el software enunciado en la introducción, se utilizó la Teoría de Redes, haciendo principal hincapié en el escenario del Agente viajero y  el Camino Económico.
El desarrollo del presente informe se realiza en el marco de la materia Investigación Opertaiva II, es por ello que es de vital importancia brindar un marco teórico sobre la Investigación Operativa para aclarar algunos conceptos necesarios para comprender en su totalidad el texto.
</p>
                   </div>
            </div>
            
     </div>
     </div>



    <!--about us end-->
{% endblock %}