{% extends 'base.html' %}

{% block content %}
<!-- service start -->
    <div>
    <div class="container" style="margin-left: 300px;">
    	<div class="row templatemo_servicerow" >
        	
              <div class="templatemo_hexservices col-sm-6">
            	<div class="blok text-center">
                  <div class="hexagon-a">
                     <a class="hlinktop" href="{% url 'tsp' %}">
                     	 <div class="hexa-a">
                         	<div class="hcontainer-a">
                          <div class="vertical-align-a">
                            <span class="texts-a"><i class="fa fa-briefcase"></i></span>
                          </div>
                        </div>
                         </div>
                     </a>
                  </div>  
                     <div class="hexagonservices">
                     	<a class="hlinkbott" href="#">
                        <div class="hexa">
                      	  <div class="hcontainer">
                          <div class="vertical-align">
                          <span class="texts"></span>
                          </div>
                        </div>
                      </div>
                        </a>
                     </div>
                     </div>
                     <div class="templatemo_servicetext" style="text-align: center;">
                    <h2>Problema de Agente Viajero - TSP</h2>
                    
                    </div>
              </div>
              
              <div class="templatemo_hexservices col-sm-6">
            	<div class="blok text-center">
                  <div class="hexagon-a">
                     <a class="hlinktop" href="{% url 'shortest_path' %}">
                     	 <div class="hexa-a">
                         	<div class="hcontainer-a">
                          <div class="vertical-align-a">
                            <span class="texts-a"><i class="fa fa-trophy"></i></span>
                          </div>
                        </div>
                         </div>
                     </a>
                  </div>  
                     <div class="hexagonservices">
                     	<a class="hlinkbott" href="#">
                        <div class="hexa">
                      	  <div class="hcontainer">
                          <div class="vertical-align">
                          <span class="texts"></span>
                          </div>
                        </div>
                      </div>
                        </a>
                     </div>
                     </div>
                     <div class="templatemo_servicetext" style="text-align: center;">
                    <h2>Camino Económico</h2>
                    
                    </div>
              </div>
              <div class="templatemo_hexservices col-sm-6">
            	<div class="blok text-center">
                  <div class="hexagon-a">
                     <a class="hlinktop" href="#">
                     	 <div class="hexa-a">
                         	<div class="hcontainer-a">
                          <div class="vertical-align-a">
                            <span class="texts-a"><i class="fa fa-thumb-tack"></i></span>
                          </div>
                        </div>
                         </div>
                     </a>
                  </div>  
                     <div class="hexagonservices">
                     	<a class="hlinkbott" href="#">
                        <div class="hexa">
                      	  <div class="hcontainer">
                          <div class="vertical-align">
                          <span class="texts"></span>
                          </div>
                        </div>
                      </div>
                        </a>
                     </div>
                     </div>
                     <div class="templatemo_servicetext" style="text-align: center;">
                    <h2>Árbol mínimo de conexión</h2>
                    <p>PROXIMAMENTE...</p>
                    </div>
              </div>
              
        </div>
    </div>
    </div>
    <!-- service end -->
{% endblock %}