{% extends 'base.html' %}
{% load staticfiles %} 
{% block content %}
 <!-- shortest path start -->
    <div style="text-align: center;margin-top: -100px; margin-bottom: 130px;">
        <h2>Camino Económico</h2>
        <h3>Seleccione ciudad de origen y a continuacion la ciudad de destino..</h3>
    </div>
       <div>
    <div class="container">
      <div class="row templatemorow">
        <div class="hex col-sm-6">
      <div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url('{% static 'images/gallery/1.jpg' %}');">
                <br><br><br>
                  <h1>MAR DEL PLATA</h1>
                <div class="overlay">
                 <a href="#"  class="fa fa-arrow-right"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="hex col-sm-6">
      <div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url('{% static 'images/gallery/2.jpg' %}');">
                <br><br><br>
                <h1 style="text-align: center;">NECOCHEA</h1>
                <div class="overlay">
                 <a href="#"  class="fa fa-arrow-right"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="hex col-sm-6  templatemo-hex-top2">
      <div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url('{% static 'images/gallery/3.jpg' %}');">
                <br><br><br>
                  <h1>MIRAMAR</h1>
                <div class="overlay">
                 <a href="#"  class="fa fa-arrow-right"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="hex col-sm-6  templatemo-hex-top3">
      <div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url('{% static 'images/gallery/4.jpg' %}');">
                <br><br><br>
                  <h1>BS. AS.</h1>
                <div class="overlay">
                 <a href="#"  class="fa fa-arrow-right"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="hex col-sm-6  templatemo-hex-top3">
      <div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url('{% static 'images/gallery/5.jpg' %}');">
                <br><br><br>
                  <h1>LA PLATA</h1>
                  <div class="overlay">
                 <a href="#"  class="fa fa-arrow-right"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
         <div class="hex col-sm-6 hex-offset templatemo-hex-top1 templatemo-hex-top2">
      <div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url('{% static 'images/gallery/6.jpg' %}');">
                <br><br><br>
                  <h1>PINAMAR</h1>
                  <div class="overlay">
                 <a href="#"  class="fa fa-arrow-right"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
     <div class="hex col-sm-6 templatemo-hex-top1 templatemo-hex-top3">
      <div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url('{% static 'images/gallery/7.jpg' %}');">
                <br><br><br>
                  <h1>BAHIA BLANCA</h1>
                  <div class="overlay">
                 <a href="#"  class="fa fa-arrow-right"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
      <div class="hex col-sm-6 templatemo-hex-top1  templatemo-hex-top3">
        <div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url('{% static 'images/gallery/8.jpg' %}');">
                <br><br><br>
                  <h1>PUERTO MADRYN</h1>
                  <div class="overlay">
                 <a href="#"  class="fa fa-arrow-right"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hex col-sm-6 templatemo-hex-top1  templatemo-hex-top2">
        <div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url('{% static 'images/gallery/9.jpg' %}');">
                <br><br><br>
                  <h1>CHAPADMADAL</h1>
                  <div class="overlay">
                 <a href="#"  class="fa fa-arrow-right"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
  </div>
    <div  class="container answer_list templatemo_gallerytop">
      <div class="row templatemorow">
        <div class="hex col-sm-6">
      <div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url('{% static 'images/gallery/10.jpg' %}');">
                <div class="overlay">
                 <a href="#"  class="fa fa-arrow-right"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="hex col-sm-6">
      <div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url('{% static 'images/gallery/11.jpg' %}');">
                <div class="overlay">
                 <a href="#"  class="fa fa-arrow-right"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="hex col-sm-6  templatemo-hex-top2">
      <div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url('{% static 'images/gallery/12.jpg' %}');">
                <div class="overlay">
                 <a href="#"  class="fa fa-arrow-right"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="hex col-sm-6  templatemo-hex-top3">
      <div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url('{% static 'images/gallery/13.jpg' %}');">
                <div class="overlay">
                 <a href="#"  class="fa fa-arrow-right"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="hex col-sm-6  templatemo-hex-top3">
      <div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url('{% static 'images/gallery/14.jpg' %}');">
                  <div class="overlay">
                 <a href="#"  class="fa fa-arrow-right"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
         <div class="hex col-sm-6 hex-offset templatemo-hex-top1 templatemo-hex-top2">
      <div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url('{% static 'images/gallery/15.jpg' %}');">
                  <div class="overlay">
                 <a href="#"  class="fa fa-arrow-right"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
     <div class="hex col-sm-6 templatemo-hex-top1 templatemo-hex-top3">
      <div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url('{% static 'images/gallery/16.jpg' %}');">
                  <div class="overlay">
                 <a href="#"  class="fa fa-arrow-right"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
      <div class="hex col-sm-6 templatemo-hex-top1  templatemo-hex-top3">
        <div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url('{% static 'images/gallery/17.jpg' %}');">
                  <div class="overlay">
                 <a href="#"  class="fa fa-arrow-right"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hex col-sm-6 templatemo-hex-top1  templatemo-hex-top2">
        <div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url('{% static 'images/gallery/18.jpg' %}');">
                  <div class="overlay">
                 <a href="#"  class="fa fa-arrow-right"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
  </div>
    <div class="container">
      <div class="row">
          <div class="templatemo_loadmore">
            <a href="{% url 'results' %}">
       <button class="gallery_more" id="button">Generar Ruta</button>
            </a>
            </div>
        </div>
    </div>
    </div>
      <!-- shortest path end -->
{% endblock %}